body
{
    margin:0;
    font-family: Montserrat;

}

.main
{   
    
   
}

.navigation
{
    margin-top: 2vh;
    width:70%;
    margin-left: auto;
    margin-right: auto;
display:flex;
align-items: center;
justify-content: space-between;
}

.logo img
{
    width: 30vw;
    max-width: 390px; 
    min-width: 160px;
}

.menu a 
{
    font-size: 2.5vh;
    color:black;
margin-right: 0.5vh;
text-decoration: none;
}

.menu a:hover
{
color:rgb(77, 77, 77);    
}

.menu a.active
{
color:white;    
}
#carticon
{
    height:10px;
}

.header
{
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    height:60%;
    background-image: url("background.png");
    display:flex;
    flex-direction: column;
    
}

.Title
{
    /*margin-left:auto;
    margin-right:auto;*/

    text-align: center;
    font-size: 6vh;
    margin:auto auto 10px auto;
}

#mainbutton
{

    
   
    
    margin:0px auto auto auto;
    
}

.button
{
    background-color: black;
    border-radius: 6%;
    padding:9px 15px;
}
.button a
{
    color:white;
    text-decoration: none;
}

#ozonowaniegeneratorami
{
    font-size: 7vh;
}

.maintext
{
    font-size: 3vh;
}

.content
{
background-color:#c6ebec ;
padding: 2% 18%;
}

#odroczony
{
    text-align: center;
    font-size: 20px;
    border-bottom: 2px solid #b9b9b9;
    
}


.ask
{
    padding: 2% 18%;
    background-color: #1e9599;
    
}

#napisztekst
{
    text-align: center;
}

#imie input
{
    
    text-align: left;
}
#email input
{
    margin-top: 1%;
    width: 100%;
    height: 30%;
}


#napisztekst
{
    font-size: 7vh;
}


.footer
{
    padding: 2% ;
    color: white;
background-color: black;    

}
.footernapis
{
    font-size: 3vh;
    display: flex;
flex-direction: column;
text-align: center;
}
.footeradresy
{
    font-size: 2.5vh;
    margin-top: 2%;
    display: flex;
    justify-content: space-around;
   
}

