body
{
    margin:0;
    font-family: Montserrat;

}

.main
{   
    background-color:#fafafa;
   
}

.navigation
{
    width:1000px;
    margin-left: auto;
    margin-right: auto;
display:flex;
align-items: center;
justify-content: space-between;
}

.logo img
{
    width: 30vw;;
}
.menu a 
{
    color:black;
margin-right: 4px;
text-decoration: none;
}

.menu a:hover
{
color:rgb(77, 77, 77);    
}

.menu a.active
{
color:white;    
}
#carticon
{
    height:10px;
}

.header
{
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    height:60%;
    background-image: url("background.png");
    display:flex;
    flex-direction: column;
    
}

.Title
{
    /*margin-left:auto;
    margin-right:auto;*/

    font-size: 2rem;
    margin:auto auto 10px auto;
}

#mainbutton
{

    
    background-color: black;
    border-radius: 6%;
    padding:9px 15px;
    
    margin:0px auto auto auto;
    
}

.button a
{
    color:white;
    text-decoration: none;
}

.content
{
background-color:#c6ebec ;
padding: 2% 18%;
}

#odroczony
{
    text-align: center;
    font-size: 20px;
    border-bottom: 2px solid #b9b9b9;
    
}

.ask
{
    background-color: #1e9599;
}
.footer
{
    color: white;
background-color: black;    
}