body
{
    margin:0;
    font-family: Montserrat;

}

.main
{   
    
   
}

.navigation
{
    margin-top: 2vh;
    width:70%;
    margin-left: auto;
    margin-right: auto;
display:flex;
align-items: center;
justify-content: space-between;
}

.logo img
{
    width: 30vw;
    max-width: 390px; 
    min-width: 160px;
}

.menu a 
{
    font-size: 2.5vh;
    color:black;
margin-right: 0.5vh;
text-decoration: none;
}
.burger
{
    display: none;
}
.burger div
{
width: 25px;
height: 3px;
background-color: black;
margin: 5px;
}

.menu a:hover
{
color:rgb(77, 77, 77);    
}

.menu a.active
{
color:white;    
}
#carticon
{
    height:10px;
}


.header
{
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    height:60%;
    background-image: url("background.png");
    display:flex;
    flex-direction: column;
    
}

.Title
{
    /*margin-left:auto;
    margin-right:auto;*/

    text-align: center;
    font-size: 4.5vh;
    margin:auto auto 10px auto;
}

#mainbutton
{

    
   
    
    margin:0px auto auto auto;
    
}

.button
{
    background-color: black;
    border-radius: 6%;
    padding:9px 15px;
}
.button a
{
    color:white;
    text-decoration: none;
}
.button:hover{
    transition: opacity 1s;
opacity: 0.6;

}

#ozonowaniegeneratorami
{
    font-size: 7vh;
}

.maintext
{
    font-size: 3vh;
}

.content
{
background-color:#c6ebec ;
padding: 2% 18%;
}

#odroczony
{
    text-align: center;
    font-size: 20px;
    border-bottom: 2px solid #b9b9b9;
    
}


.ask
{
    padding: 2% 18%;
    background-color: #1e9599;
    
}

#napisztekst
{
    text-align: center;
}

#imie input
{
    
    text-align: left;
}
#email input
{
    margin-top: 1%;
    width: 100%;
    height: 30%;
}


#napisztekst
{
    font-size: 7vh;
}


.footer
{
    padding: 2% ;
    color: white;
background-color: black;    

}
.footernapis
{
    font-size: 3vh;
    display: flex;
flex-direction: column;
text-align: center;
}
.footeradresy
{
    font-size: 2.5vh;
    margin-top: 2%;
    display: flex;
    justify-content: space-around;
   
}


/*  SKLEP  */
.tlosklep
{
    background-color: #c6ebec;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 3vh;
   
}
.produkty
{ 
  
    margin: 0 15%;
    
    
    
}

.zdjecie
{
    margin-top: 4vh;
    display:flex;
    width: 10%;
   
}


.zdjecie img
{
    
width: 15vh;
height: auto

  }
.product-info > h5,h6
{
    margin:5px 0;
    
}
.product-info{font-size: 20px; }
/*USLUGI*/
.tloUslugi
{
background-color: #c6ebec;
padding: 20px 0;

}
#cennikTytul
{
    margin-top: 20px;
    text-align: center;
    font-size: 3vh;
}



@media screen and (max-width: 768px)
{ /*main*/
   body{
       overflow-x: hidden;
   }
    #ozonowaniegeneratorami{font-size: 5vh;}
    .maintext{font-size: 2vh;}
    #napisztekst{font-size: 28px;}
    .footernapis{font-size: 10px;}
    .footeradresy{font-size: 8px;}
    #email input{height: 20%;}
    .menu
    {
        position:absolute;
        width: 50%;
        right:  0px;
        height: 92vh;
        top:0vh;
        background-color: #c6ebec;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition:  transform 0.5s ease-in;
    }
    .menu a
    {
        opacity: 0;
        font-size: 1.7vh;
        padding-top: 15px;
                
    }
    .burger{
        display: block;
        cursor: pointer;
    }
  
    /*sklep*/

}
@media screen and (min-width: 1000px)
{ 
    .tlosklep{ grid-template-columns: 1fr 1fr 1fr 1fr;}
    .zdjecie img{  width: 24vh;height: auto;  }
    .product-info{font-size: 30px; }

}
@media screen and (max-width:1600px)
{
.Title
{
    font-size: 3vh;
}

}


@keyframes buttonup {
    
}

.menu-active
{
    transform: translateX(0%);
}